<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div>
    <div class="card">

      <div>
        <h5>Email</h5>
          <input gmInput pInputText
                 ngModel id="email" name="email"
                 [required]="true"/>
      </div>

      <h5>Password</h5>
      <div class="password-input">
        <input type="password" gmInput pInputText [(ngModel)]="password" id="password" name="password" [required]="true" #passwordInput />
        <button type="button" class="password-toggle" (click)="togglePasswordVisibility(passwordInput)">
          <i class="fas" [ngClass]="{'pi pi-eye': !passwordVisible, 'pi pi-eye-slash': passwordVisible}"></i>
        </button>
      </div>




    </div>


    <footer class="pt-2">
      <div class="flex justify-content-center">
        <p-button gmSecondary class="p-1"
                  type="submit">Log In</p-button>
      </div>
    </footer>
  </div>
</form>
