<form>
  <div>

    <div class="card">
      <div class="field grid">
        <div class="field col-6">
        <label class="table-form-label">First Name</label>
        <gm-form-field class="col-6" label="First Name">
          <input gmInput pInputText/>
        </gm-form-field>

        <label class="table-form-label">Last Name</label>
        <gm-form-field class="col-6" label="Last Name">
          <input gmInput pInputText/>
        </gm-form-field>

        <label class="table-form-label">Email</label>
        <gm-form-field class="col-12" label="Email">
          <input gmInput pInputText/>
        </gm-form-field>

        <label class="table-form-label">Password</label>
        <gm-form-field class="col-12" label="Password">
          <input gmInput pInputText/>
        </gm-form-field>

        <label class="table-form-label">Company</label>
        <gm-form-field class="col-6" label="Company">
          <input gmInput pInputText/>
        </gm-form-field>
      </div>


      </div>

    </div>


    <footer class="pt-2">
      <div class="flex justify-content-end">
        <p-button gmPrimary class="p-1"  styleClass="p-button-info" (click)="onCreateUser()">Create User</p-button>
      </div>
    </footer>
  </div>
</form>
